/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/dist/css/materialize.min.css";
@import "~font-awesome/css/font-awesome.css";


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(147, 112, 219, .7);
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
  margin: 0 auto;
}
